{% if meta.source %}
<div class="source-links">
{% for filename in meta.source %}
    <span class="label label-primary">{{ filename }}</span>
{% endfor %}
</div>
{% endif %}
<div class="col-md-12 clearfix">
  <!-- Responsive -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-1745506967895167"
      data-ad-slot="6087101219"
      data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<div class="clearfix">
&nbsp;
</div>
{{ content }}
